  h3 {
    color: black;
    font-family: 'verlag';
    src: url(Fonts/VerlagBold.otf);
    font-style: normal;
    font-weight: bold;

  }

  p {
    color: black;
    font-family: 'verlag';
    src: url(Fonts/VerlagXLight.otf);
    font-size: 1em;
    font-style: normal;
    font-weight: li;

  }

    #map {
      background: #448ee4;
    }

    .legend-large, .legend-small {
      border-radius: 50%;
  }
  
     hr.small, hr.large {
      width: 100px;
      position: absolute;
     */ top: -8px;
      left: 60px;
      border: 1px dashed #ccc;     /* overwrite assembly.css rule */
      margin-top: 4px;            /* overwrite assembly.css rule */
  }

     #info {
      z-index: 1000;
  }

  .bobcat {
    color: #BB952F;
}

  .coyote {
    color: #A21E36;
}

  .greyfox {
    color: #3A4B56;
}

@font-face {
  font-family: 'verlag';
  src: url(Fonts/VerlagBold.otf);
  font-style: normal;
  font-weight: 100
}

@font-face {
  font-family: 'fairplex';
  src: url(Fonts\FairplexWideOT.otf);
  font-style: normal;
  font-weight: 100;
}
